@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'open sans', sans-serif;
}
body{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.header{
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 0px rgba(139, 139, 139, 0.65);
}
.header-box{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1280px;
    min-width: 1280px;
}
.header div #logo {
    padding:9px 0px 9px 19px;
    height: 104px;
    width: 209px;
}
.links{ 
    padding-right: 39px;
}
.links a{
    text-decoration: none;
    margin-left: 24px;
    color: #777777;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}
.frete{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    min-width: 1280px;
    position: sticky;
    top: 0;
    font-weight: bold;
    text-align: center;
    height: 40px;
    padding: 10px;
    width: 100%;
    background-color: #C2185B;
    color: #FFFFFF;
}
.footer{
    background-color: #C2185B;
}
.footer-box{
    height: 248px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    min-width: 1280px;
    max-width: 1280px;
}
.footer #logoFooter{
    background-image: url();
    height: 123px;
    width: 233px;
}
.footer #logoFooter p{
    padding-left: 15px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.lista{
    align-self: center;
}
.lista ul p{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.lista ul li{
    list-style-type: none;
    
}
.lista ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
@media (min-width: 1280px) {  
    body, .index, .footer-box,.headerBanner{
        margin-left: auto;
        margin-right: auto;
    }
}