@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'open sans', sans-serif;
}
body{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.trabalheConosco{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.trabalheConosco h1{
    height: 55px;
    width: 585px;
}
.formulario{
    margin-top: 55px;
    margin-left: 121px;
    margin-bottom: 57px;
    width: 538px;
    color: #777777;
}
.formulario .text input{
    height: 26px;
    width: 538px;
}
.sobreAEmpresa{
    height: 448px;
    width: 464px;
    align-self: center;
    padding-left: 77px;
}
#departamento {
    height: 26px;
    width: 538px;
}
.disponibilidade{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px 
}
.titulo{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px   
}
textarea{
    height: 78px;
    width: 536.6448364257812px;
}
button{
    margin-top: 27px;
    height: 33px;
    width: 537px;
    background-color: #C2185B;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;  
    transition: all 3000ms;
}

button:hover{
    color: #C2185B;
    background-color: #FFFFFF;
}

